<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="Propiety">Look a new Propiety</h2><hr>

  <form class="new-propiety-form">
    <div>
      <label for="propiety-title">title:</label>
      <input class="input" type="text" id="propiety-title" name="propiety-title" placeholder="insert new propiety here"/>
    </div>
    <div>
      <label for="propiety-content">content:</label>
      <input class="textarea is-large" id="propiety-content" name="propiety-content" placeholder="insert new propiety here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">New Propiety? Push Here</button>
  </form>
</section>

<script src="/javascript/add-propiety.js"></script>