    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-property" class="button is-primary is-pulled-right">create a new property</button></a>
        
        <h2 class="title pb-4">dashboard: your property</h2><hr>
{{#if properties.length}}
    </div>

    {{#each properties as |property|}}
        {{> property-info property}}
        
            <a href="/dashboard/edit/{{property.id}}"><button class="button mb-5 ml-5 is-warning">edit property</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any propiety</h6>

{{/if}}