  
  {{!-- title and image on main page --}}
 <h1 class="title">Welcome to inMarket</h1>


<img class="home-image" alt="Sun Piercing of Brown Concrete House Near Sea" src="https://images.pexels.com/photos/1732414/pexels-photo-1732414.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260">