  
  {{!-- Search input form for properties --}}
  <div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <textarea id="city-input" class="materialize-textarea"></textarea>
          <label for="search-box">Search for a city: </label>
        </div>
        <div class="input-field col s6">
          <textarea id="state-input" class="materialize-textarea"></textarea>
          <label for="search-box">Search for a State: </label>
        </div>
      </div>
    </form>
  </div>

  <div>
    {{> all-homes }}
  </div>
        