  {{!-- Search input form for properties --}}
  <div class="center-align row">
    <div class=" center-align col s10">
       <form id="searchForm">
      <div class="center-align">
        <div class="col s10">
            <label for="search-box">Search for a city: </label>
          <input id="city-input" class="materialize-textarea">
        </div>
        <div class="center-align col s10">
            <label for="search-box">Search for a State: </label>
          <input id="state-input" class="materialize-textarea">
        </div>
      </div>
      <button type="submit">submit</button>
    </form>
    </div>
  </div>

<div class="row home-results">

</div>


  <script src="/js/apiCall.js"></script>